.board {
  display: grid;
  place-items: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 500px;

  .card-holder {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 200px 200px;
    position: absolute;
  }
}

@for $i from 0 through 4 {
  .card-holder:nth-child(#{$i}) {
    transform: rotate(calc(360deg / 4 * #{$i}))
      translate(200px)
      rotate(calc(-360deg / 4 * #{$i}));
  }
}
