.cardItem {
  width: 90px;
}

.card {
  top: 0px;
  left: 0px;
  height: 128px;
  background-image: url("../../assets/cards.webp");
  background-position: 0% -100%;
  background-repeat: repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;

  &.card-0 {
    background-position: 0% 0%;
  }

  &.card-1 {
    background-position: 0% -100%;
  }

  &.card-2 {
    background-position: 0% -200%;
  }

  &.card-3 {
    background-position: 0% -300%;
  }

  &.card-4 {
    background-position: 0% -400%;
  }

  &.card-5 {
    background-position: 0% -500%;
  }

  &.dead {
    filter: brightness(70%);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        135deg,
        rgba(255, 0, 0, 0.7) 25%,
        transparent 25%,
        transparent 75%,
        rgba(255, 0, 0, 0.7) 75%
      );
      pointer-events: none;
    }
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      border: 1px solid black;
      margin-bottom: 1px;
    }
  }
}
