@font-face {
    font-family: "BlackAndWhitePicture";
    src: url("./assets/BlackAndWhitePicture-Regular.ttf");
}

#root {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    min-height: 100vh;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("./assets/bg2.jpg");
    background-size: cover;
    font-size: 20px;
    font-family: "BlackAndWhitePicture";
}
